<p>below is band table</p>


<% @all.each do |band| %>
   
   <a href="/bands/<%= band.id %>">

    <%= band.name %>
    </a>
    <br />
    <a href="/bands/<%= band.id %>/edit">
        

        edit <%= band.name %>
    </a>

<% end %>
<p><%= @all[0].class %></p>


<p>this is the band index</p>